/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-in-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-in-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-in-breakpoint).panel-in ~ .view-main:before,
.ios .panel-left:not(.panel-in-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

:root {
  //--f7-input-info-line-height: 50;
}

//.item-input-info {
//  top: 0px !important;
//  bottom: 0px !important;
//  margin-top: 0px !important;
//  margin-bottom: 0px !important;
//  padding-top: 0px !important;
//  padding-bottom: 0px !important;
//  position: relative !important;
//  white-space: normal !important;
//}

.icon.mdi {
  font-size: 24px;
}

.p-relative {
  position: relative !important;
}

.p-absolute {
  position: absolute !important;
}

.center,
.center-v,
.center-h {
  display: flex !important;
}

.center,
.center-v {
  align-items: center !important;
}

.center,
.center-h {
  justify-content: center !important;
}

.text-center {
  text-align: center;
}

.list-buttons-centers .list-button {
  text-align: center !important;
}

.item-input {
  margin-bottom: 5px !important;
  &.item-input-invalid {
    padding-bottom: 0px !important;
  }
}

.foto-capa, .foto {
  position: relative;
  width: 80px;
  height: 80px;
  //background-color: #fff;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 50%;
}

.border-radius {
  border-radius: 5px !important;
}

.rounded-border {
  border-radius: 50% !important;
}

.dialog-buttons-vertical {
  .dialog-button {
    text-align: center !important;
  }
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.strong {
  font-weight: bold;
}

.medium-strong {
  font-weight: 500;
}

.st {
  opacity: 0.5;
}

.fd-collumn {
  flex-direction: column;
}
